{% extends 'base/base.html' %}

{% block main-content %}
<div class="container-fluid row p-0 m-0 main-body-content main-row" style="flex: 1 0 auto;">
    <div class="col-lg-2 p-0 m-0 text-muted main-menu">
        <a class="main-menu-item" href="{% url 'dashboard-main' %}"><div class="p-3 {% block dashboard-style-class %}{% endblock %}">DASHBOARD</div></a>
        <a class="main-menu-item" href="{% url 'patients-main' %}"><div class="p-3 {% block patients-style-class %}{% endblock %}">PATIENTS</div></a>
        <a class="main-menu-item" href="{% url 'records-main' %}"><div class="p-3 {% block records-style-class %}{% endblock %}">RECORDS</div></a>
    </div>
    <div class="col-lg-10 p-0 m-0">
        <div class="container-fluid">
            <div class="p-3">
            {% block item-content %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
