


/****** detail-nav ********/

table.detail-nav {
    height: 50px;
    background:#001e46;
    color: #fff;

}


table.detail-nav th,td {
    padding: .5em 1em;
	text-align: center;
    border-bottom: 2px solid #fff;
	vertical-align: center;
	border-left: 0px solid #fff;

}

/****** patient-detail table ********/
.table-frame{
    vertical-align: top;
    horiz-align: left;

    border:0;
    padding:0;
    margin:0;
}

.scrollable {
    overflow:auto;
    display:inline-block;
}

table.patient-detail-table {
    display:inline-block;
    background: #efefef;
    border-collapse: collapse;
    text-align: center;
    border:0px;
    margin:0;
    padding:0;
}

table.patient-detail-table th
{
	background: #77bc1f;
	color: #fff;
}
table.patient-detail-table th a
{
	color: #fff;
}

table.patient-detail-table th.item_name
{
    text-align: left;
	background: #c8c8c8;

	color: #000;
    border-bottom: 2px solid #fff;
}
table.patient-detail-table th.item_type{
    border-bottom: 2px solid #fff;
}

table.patient-detail-table tr:nth-child(even) th.item_name
{
    background: #a4a5a4 !important;
}

table.patient-detail-table tbody td{
    border-bottom: 2px solid #fff;
}
table.patient-detail-table tr:nth-child(even){background: #ddd !important;}

table.patient-detail-table th,td ,
table.patient-detail-tag th,td {
    padding: .5em 1em;
	text-align: center;
	vertical-align: center;
}

table.patient-detail-table th.item_name {
    padding: .5em 0em .5em 1em;
}

/******* detail-tag *********/

table.patient-detail-tag th
{
	background: #77bc1f;
	color: #fff;
    padding: .5em 1em;
	text-align: center;
	vertical-align: center;
}

table.patient-detail-tag{
    position: relative;
    margin-top: 30px;
}

table.patient-detail-tag a{
    color:#fff;
}

th.unchecked
{
    background: #b1b1b3 !important;
    color: #77bc1f !important;
}


/********* button effect of icons (trash-can, pencil, plus)************/
.button
{
        width:80%;
        float:left;
        padding:15px;
}

.trash-can ,
.pencil
{
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
}
.plus{
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
}
.plus svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margine: auto;
}

table.patient-detail-table th.buttons
{
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 0px;
}

.trash-can svg ,
.pencil svg
{
    display: inline-block;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    margine: auto;
}

.trash-can svg .fill ,
.pencil svg .fill {
        fill:#c0cecb;

        -webkit-transition: fill 0.2s ease;
        -moz-transition: fill 0.2s ease;
        -ms-transition: fill 0.2s ease;
        -o-transition: fill 0.2s ease;
        transition:fill 0.2s ease;
}
.plus svg .fill {
    fill:#000;

    -webkit-transition: fill 0.2s ease;
    -moz-transition: fill 0.2s ease;
    -ms-transition: fill 0.2s ease;
    -o-transition: fill 0.2s ease;
    transition:fill 0.2s ease;
}


.plus svg .unfill{
    fill:#c8c8c8;
}
tr:nth-child(even) .plus svg .unfill{
    fill: #a4a5a4 !important;
}


.trash-can:hover svg .fill {
        fill:#e85656;
        cursor: pointer;
}

.pencil:hover svg .fill {
    fill:#77bc1f;
    cursor: pointer;
}

.plus:hover svg .fill {
        fill:#e85656;
        cursor: pointer;
}

table td.buttons,
table th.buttons{
    width: 50px;
    text-align:center;
}


/********** record-confirm-table *********/

table.record-confirm-table{
    display:inline-block;
    line-height: 1.5;
    border:0px;
    background: rgba(119, 188, 31, 0.3);
    margin: 20px;
}
table.record-confirm-table th {
    color: #fff;
    font-weight: bold;
    vertical-align: top;
    text-align:center;
    background: #77bc1f;
    width:200px;
    padding: 10px 30px 10px 30px;
    margin: 20px 10px;
}
table.record-confirm-table td {
    padding: 10px 30px 10px 30px;
    vertical-align: top;
    margin: 20px 10px;
}
table.record-confirm-table tr {

    border-bottom: 2px solid #fff;
    margin:20px 10px;
    padding: 10px;
}

/********** patient-info-table *************/

table.patient-info-table{

    line-height: 1.5;
    border:0px;
    background: #ddd;
    text-align:center;
    margin-left:20px;
}
table.patient-info-table th {
    font-weight: bold;
    vertical-align: top;
    horiz-align: center;
    padding: 10px 30px 10px 30px;
    margin: 20px 10px;
}
table.patient-info-table td {
    padding: 10px 30px 10px 30px;
    vertical-align: top;
    horiz-align: center;
    /*color: #77bc1f;*/
    background: #f2f2f2;
    margin: 20px 10px;
}


table.patient-info-table tr {
    border-bottom: 2px solid #fff;
    margin:20px 10px;
    padding: 10px;
}


/********** patient-table *************/

table.patient-table thead th {
    background: #77bc1f;
    color: #fff;
}

table.patient-table {
    background: #efefef;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border:0px;
    margin: 20px 10px;
    width:90%;
    margin-left:20px;
}
table.patient-table thead th ,

table.patient-table tbody tr {
    border-bottom: 2px solid #fff;
  /*  width: 150px;*/

    margin: 20px 10px;
    padding: 10px;
  /*  cursor: pointer;*/
}



table.patient-table tbody tr:nth-child(even){background-color: #ddd;}
/*table.patient-table tbody tr:hover {background-color: #ddd;}*/

table.patient-table td {
    /*padding: 10px 30px 10px 30px;
    vertical-align: top;*/
    border-bottom: 2px solid #fff;
    margin: 20px 10px;
    padding: 10px;
}
table.patient-table .even {
    background: #fdf3f5;
}

/********** ************/

