
/******class for fixed********/


/********* button effect of icons (trash-can, pencil)************/
.button{
        width:80%;
        float:left;
        padding:15px;
}
.trash-can ,
.pencil{

    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
}
.trash-can svg ,
.pencil svg{
    display: inline-block;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    margine: auto;
}

.trash-can svg .fill ,
.pencil svg .fill{
        fill:#c0cecb;

        -webkit-transition: fill 0.2s ease;
        -moz-transition: fill 0.2s ease;
        -ms-transition: fill 0.2s ease;
        -o-transition: fill 0.2s ease;
        transition:fill 0.2s ease;
}

.trash-can:hover svg .fill {
        fill:#e85656;
        cursor: pointer;
}

.pencil:hover svg .fill {
    fill:#77bc1f;
    cursor: pointer
}

table td.buttons {
    width: 50px;
    text-align:center;
}

/********** record-confirm-table *********/

table.record-confirm-table{
    display:inline-block;
    line-height: 1.5;
    border:0px;
    background: rgba(119, 188, 31, 0.3);

    margin: 20px;
}
table.record-confirm-table th {
    color: #fff;
    font-weight: bold;
    vertical-align: top;
    text-align:center;
    background: #77bc1f;
    width:200px;
    padding: 10px 30px 10px 30px;
    margin: 20px 10px;
}
table.record-confirm-table td {
    padding: 10px 30px 10px 30px;
    vertical-align: top;
    margin: 20px 10px;
}
table.record-confirm-table tr {

    border-bottom: 2px solid #fff;
    margin:20px 10px;
    padding: 10px;
}

/********** patient-info-table *************/

table.patient-info-table{

    line-height: 1.5;
    border:0px;
    background: #ddd;
    text-align:center;
    margin-left:20px;
}
table.patient-info-table th {
    font-weight: bold;
    vertical-align: top;
    horiz-align: center;
    padding: 10px 30px 10px 30px;
    margin: 20px 10px;
}
table.patient-info-table td {
    padding: 10px 30px 10px 30px;
    vertical-align: top;
    horiz-align: center;
    /*color: #77bc1f;*/
    background: #f2f2f2;
    margin: 20px 10px;
}


table.patient-info-table tr {
    border-bottom: 2px solid #fff;
    margin:20px 10px;
    padding: 10px;
}

/******** patient-table *************/

table.patient-table {
    background: #efefef;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border:0px;
    margin: 20px 10px;
    width:90%;
    margin-left:20px;
}
table.patient-table thead th ,
table .item_type {
    /*width: 80px;*/
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    vertical-align: center;
    horiz-align: center;
    color: #fff;
    background: #77bc1f;
    margin: 20px 10px;
}
table.patient-table tbody tr {
    border-bottom: 2px solid #fff;
  /*  width: 150px;*/
    margin: 20px 10px;
    padding: 10px;
  /*  cursor: pointer;*/
}


th.item_name {
    margin: auto;
    padding:auto !important;
    width: 500px !important;
}

table.patient-table tbody tr:nth-child(even){background-color: #ddd;}
/*table.patient-table tbody tr:hover {background-color: #ddd;}*/

table.patient-table td {
    /*padding: 10px 30px 10px 30px;
    vertical-align: top;*/
    border-bottom: 2px solid #fff;
    margin: 20px 10px;
    padding: 10px;
}
table.patient-table .even {
    background: #fdf3f5;
}

/********** ************/

