{% extends 'patients/pages/main.html' %}

{% block item-content %}

<div class="main-row p-0 m-0">
    <h3>K병동 123호실 {{ patient.name }}({{ patient.pid }})님의 Records(time)</h3>
    <div class="ml-auto">
        <a class="btn btn-outline-secondary virus-button-style ml-1 mr-0" href="{% url 'patients-main' %}" role="button">&#10005; 뒤로가기</a>
    </div>
</div>
<hr></hr>


    <table class="detail-nav">
        <tr>
            <th scope="row">기준날짜</th>
            <td>2018년 9월 19일</td>
            <th scope="row">기준시간</th>
            <td>0A</td>
            <th scope="row">소계</th>
            <td>1시간</td>
        </tr>
    </table>


    <table class = "patient-detail-tag" style="margin-bottom: 0px; border-bottom: 0px !important;">
        <tr>
            <th class="unchecked"><a href="{% url 'patient-detail-date' pk=patient.pk %}"> date </a> </th>
            <th><a href="{% url 'patient-detail' pk=patient.pk %}"> time </a> </th>
        </tr>
    </table>


    <div class="table-frame" style="display:inline-block;">
        <table class="patient-detail-table">
            <thead>
                <tr>
                    <th colspan="3" scope="cols">시간</th>

               </tr>
            </thead>

            <tbody>
               <tr>
                   <th rowspan="7" class="item_type">input</th>
                   <th class="item_name">총 합계</th>
                   <th class="buttons item_name"></th>
               </tr>
               <tr>
                   <th class="item_name">정맥주입 총 합계</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
               <tr>
                   <th class="item_name">경구(환자자동입력)</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
               <tr>
                   <th class="item_name">경구(간호사입력)</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
               <tr>
                   <th class="item_name">경관(간호사입력)</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>

               </tr>
               <tr>
                   <th class="item_name">정맥 주입 주사 1</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
               <tr>
                   <th class="item_name">정맥 주입 주사 2</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>

               <tr>
                   <th rowspan="9" class="item_type">output</th>
                   <th class="item_name">총 합계</th>
                   <th class="item_name buttons"></th>
               </tr>
               <tr>
                   <th class="item_name">총 대변 횟수</th>
                   <th class="buttons item_name"></th>
               </tr>
               <tr>
                   <th class="item_name">Self voiding(환자자동입력)</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
               <tr>
                   <th class="item_name">Self voiding(간호사입력)</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
               <tr>
                   <th class="item_name">Foley catheter(환자입력)</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
               <tr>
                   <th class="item_name">Foley catheter(간호사입력)</th>
                   <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
              <tr>
                   <th class="item_name">대변(환자입력)</th>
                  <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
              <tr>
                   <th class="item_name">대변(간호사입력)</th>
                  <th class="item_name buttons">
                       <a class="plus" role="button" href="{% url 'patient-update' pk=patient.pk %}">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve"><path class="fill" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"/><path class="unfill" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75C390.745,209.774,387.521,206.55,383.546,206.55z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </a>
                   </th>
               </tr>
            </tbody>
        </table>
    </div>
    <div class="scrollable table-frame" style="position:absolute; width:60%;">
        <table class="patient-detail-table" >
            <tr>
                <th scope="col"> H1 </th>
                <th scope="col"> H2 </th>
                <th scope="col"> H3 </th>
                <th scope="col"> H4 </th>
                <th scope="col"> H5 </th>
                <th scope="col"> H6 </th>
                <th scope="col"> H7 </th>
                <th scope="col"> H8 </th>
                <th scope="col"> H9 </th>
                <th scope="col"> H10 </th>
                <th scope="col"> H11 </th>
                <th scope="col"> H12 </th>
                <th scope="col"> H13 </th>
                <th scope="col"> H14 </th>
                <th scope="col"> H15 </th>
                <th scope="col"> H16 </th>
                <th scope="col"> H17 </th>
                <th scope="col"> H18 </th>
                <th scope="col"> H19 </th>
                <th scope="col"> H20 </th>
                <th scope="col"> H21 </th>
                <th scope="col"> H22 </th>
                <th scope="col"> H23 </th>
                <th scope="col"> H24 </th>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>

            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
                <td> 5 </td>
                <td> 6 </td>
                <td> 7 </td>
                <td> 8 </td>
                <td> 9 </td>
                <td> 10 </td>
                <td> 11 </td>
                <td> 12 </td>
                <td> 13 </td>
                <td> 14 </td>
                <td> 15 </td>
                <td> 16 </td>
                <td> 17 </td>
                <td> 18 </td>
                <td> 19 </td>
                <td> 20 </td>
                <td> 21 </td>
                <td> 22 </td>
                <td> 23 </td>
                <td> 24 </td>
            </tr>
        </table>
    </div>



{% endblock %}
