{% extends 'patients/pages/main.html' %}

{% block item-content %}
<div class="">
    <h1>{{ patient.name }}님의 records</h1>
    <hr></hr>
     <td><a style="color: green;"href="{% url 'patient-detail-date' pk=patient.pk %}"> 여기에여어어! </a></td>

    <div>
        <table class="patient-info-table">
            <tr>
                <th scope="row">name</th>
                <td>{{ patient.name }}</td>
            </tr>
            <tr>
                <th scope="row">patient number</th>
                <td>{{ patient.pid }}</td>
            </tr>
            <tr>
                <th scope="row">birth</th>
                <td>{{ patient.birth }}</td>
            </tr>
        </table>


            <table class="patient-table">
        <thead>
            <tr>
                <th scope="cols">시간</th>
                <th scope="cols" class="item_name"></th>
                <th scope="cols"> H1 </th>
                <th scope="cols"> H2 </th>
                <th scope="cols"> H3 </th>
                <th scope="cols"> H4 </th>
                <th scope="cols"> H5 </th>
                <th scope="cols"> H6 </th>
                <th scope="cols"> H7 </th>
                <th scope="cols"> H8 </th>
                <th scope="cols"> H9 </th>
                <th scope="cols"> H10 </th>
                <th scope="cols"> H11 </th>
                <th scope="cols"> H12 </th>
                <th scope="cols"> H13 </th>
                <th scope="cols"> H14 </th>
                <th scope="cols"> H15 </th>
                <th scope="cols"> H16 </th>
                <th scope="cols"> H17 </th>
                <th scope="cols"> H18 </th>
                <th scope="cols"> H19 </th>
                <th scope="cols"> H20 </th>
                <th scope="cols"> H21 </th>
                <th scope="cols"> H22 </th>
                <th scope="cols"> H23 </th>
                <th scope="cols"> H24 </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <th rowspan="9" class="item_type">input</th>
                <th scope="row" class="item_name">합계</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">정맥주입</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">경구(환자자동입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">경구(간호사입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">경관(간호사입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>

            <tr>
                <th scope="row" class="item_name">정맥 주입 주사</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">Infusion 주입 주사</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">기타 주입 추가</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">기타 주입 추가</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>



            <tr>
                <th rowspan="9" class="item_type">output</th>
                <th scope="row" class="item_name">합계</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="item_name">Self voiding(환자자동입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
         <tr>
                <th scope="row" class="item_name">Self voiding(간호사입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
         <tr>
                <th scope="row" class="item_name">Foley catheter(환자입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}

            </tr>
         <tr>
                <th scope="row" class="item_name">Foley catheter(간호사입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
         <tr>
                <th scope="row" class="item_name">대변(환자입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
         <tr>
                <th scope="row" class="item_name">대변(간호사입력)</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
         <tr>
                <th scope="row" class="item_name">대변량</th>
                {% for patient in information %}
                    <td> {{ patient.patient.information.name }}</td>
                    <td> {{ patient.liquid_amount }}</td>
                    <td> {{ patient.consume_amount }}</td>
                    <td> {{ patient.urine_amount }}</td>
                    <td> {{ patient.stool_count }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>



    </div>




</div>
{% endblock %}
